<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- Departments to omit from price change feed.  Based upon supplier number.  Supplier number is a string with 2 characters.  " 1" = Grocery  " 2" = Meat etc-->
    <add key="dept1" value=" 7" />
    <add key="dept2" value=" 5" />
    <add key="dept3" value=" 0" />
    <add key="dept4" value=" 0" />
    <add key="dept5" value=" 0" />
    <add key="dept6" value=" 0" />
    

    <!-- Department to omit from Item change/New Item feed-->
    <add key="idept1" value=" 0" />
    <add key="idept2" value=" 0" />
    <add key="idept3" value=" 0" />
    <add key="idept4" value=" 0" />
    <add key="idept5" value=" 0" />
    <add key="idept6" value=" 0" />
    

    <!-- Remove padding for SKU  000000000 = 6 digits    00000000 = 7 digit SKU -->
    <add key="SKUPad" value="000000000"/>
    

    <!-- Limits days for disco items... example produce with a discontinue date of 2098 and 2025... really?-->
    <add key="DiscoLimit" value="90"/>    
    

    <!-- Department cross reference for adding department code to items in ADDRPLITEMS.  Customize per store here-->
    <add key="Default" value="0010" />
    <add key="Bakery" value="0010" />
    <add key="Grocery" value="0010" />
    <add key="Taxable Grocery" value="0011" />
    <add key="Frozen Foods" value="0050" />
    <add key="Dairy" value="0040" />
    <add key="Deli" value="0080" />
    <add key="Meat" value="0020" />
    <add key="Seafood" value="0023" />
    <add key="Produce" value="0030" />
    <add key="Floral" value="0031" />
    <add key="Reserved for future" value="0010" />
    <add key="Garden Center" value="0010" />
    <add key="Beer" value="0060" />
    <add key="Wine" value="0061" />
    <add key="Liquor" value="0062" />
    <add key="HBC" value="0091" />
    <add key="Pharmacy" value="0091" />
    <add key="GM Hard" value="0090" />
    <add key="GM Soft" value="0090" />
    <add key="Supplies" value="0999" />
    <add key="Reserved" value="0999" />
    <add key="Misc" value="0999" />
    

    <!--Effective Date - pushes price changes out to next date.  1 = Monday 2 = Tuesday etc up to 7-->
    <add key="EffectiveDate" value="4"/>
    
    
    <!-- Disable ADDRPLITEM logic -->
    <add key="ADDRPLITEM_MODE" value="True" />
    <add key="RPLFCOST_MODE" value="True"/>
    <add key="ADDRPL_SKIP_DEPARTMENTS" value="False"/>
    
    
    <!--<#Controls whether to add a department to the ADDRPLITEMS, as well clean the feed (trim, replace empty space, etc).  Default = False-->
    <add key="AddDepartment" value="True" />
    
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!-- Added this line to control Fprice batches and how many changes to see.  Default set to 7 days.  Looking backwards and forwards to changes in that time frame from the feed-->
    <add key="DateRange" value="45"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>